name: Flutter Build Check

# Trigger the workflow on Pull Requests to main or development
on:
  push:
    branches:
      - main
      - development
      - 'feature/**' 
      - 'bugfix/**'
  pull_request:
    branches:
      - main
      - development

jobs:
  build_check:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout the code
      - uses: actions/checkout@v4

      # 2. Setup Java (Required for Android builds)
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      # 3. Setup Flutter
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Create dummy .env file
        run: touch .env
        working-directory: ./app/rcv_firebase

      # 4. Install Dependencies
      - name: Install Dependencies
        run: flutter pub get
        working-directory: ./app/rcv_firebase

      # 5. Check for formatting and static analysis errors (Optional but recommended)
      - name: Run Analyzer
        run: flutter analyze
        working-directory: ./app/rcv_firebase